[user]
        name = "Stefan Kangas"
        email = "stefan@marxist.se"
        editor = emacs
        signingkey = 5957135D
[core]
	pager = "less --quit-if-one-screen --raw-control-chars --no-init --hilite-search --SILENT"
	excludesfile = /home/skangas/.gitignore_global
[alias]
	br = branch
	ci = commit -a
	co = checkout
        pr = pull --rebase
	files = ls-files -v --deleted --modified --others --directory --no-empty-directory --exclude-standard
	st = status
        # hist = log --format='%ad %h %s' --date=short -n 10
        ### FIXME: When we have git > 2.6.0 we can add:
        # --date=format:'%Y-%m-%d %H:%M:%S'
	hist = log --pretty=format:\"%h %Cblue%ad%Creset %Cgreen%cn%Creset %s\" --date=short -n 10
	svn-diff = !git-svn-diff.sh
        update-date = commit --amend --reset-author --no-edit
	showtrackedignored = ls-files -i --exclude-standard
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[merge]
        tool = "emerge"
[transfer]
	fsckObjects = true
